In [24]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import time
import pandas as pd
from selenium.webdriver.support.ui import Select
from webdriver_manager.chrome import ChromeDriverManager
from geopy.geocoders import Nominatim

In [21]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
from functools import reduce
import operator
from pymongo import MongoClient
from pymongo import GEOSPHERE
import sys
from bson.json_util import dumps
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster

In [2]:
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)

opciones.headless=False    # si True, no aperece la ventana (headless=no visible)

opciones.add_argument('--start-maximized')         # comienza maximizado

opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies

#opciones.add_extension('driver_folder/adblock.crx')       # adblocker

opciones.add_argument('--incognito')              # incognito

In [5]:
# sacar urls ESTO VALEEEEE
dic_url = {"URL": []}
lista_mid_urls = []


    
driver = webdriver.Chrome(ChromeDriverManager().install(), options = opciones)
url = "https://www.tripadvisor.es/Search?q=MADRID&searchSessionId=AAC12DFCE328D1F32E893F404A794CE71638809580308ssid&sid=9F59869EAAA642E8B588911214CFAC611638809599418&blockRedirect=true&ssrc=e&geo=187514&rf=2"
driver.get(url)
driver.implicitly_wait(2)
driver.find_element_by_css_selector("#onetrust-accept-btn-handler").click()
driver.implicitly_wait(10)

for i in range(1,31):
    
    try:
        dic_url["URL"].append(driver.find_element_by_css_selector(f"#BODY_BLOCK_JQUERY_REFLOW > div.page > div > div.ui_container.main_wrap > div > div > div > div > div.content_column.ui_column.is-9-desktop.is-12-tablet.is-12-mobile > div > div.ui_columns.sections_wrapper > div > div.prw_rup.prw_search_search_results.ajax-content > div > div.main_content.ui_column.is-12 > div > div:nth-child(2) > div > div > div:nth-child({i}) > div > div > div > div.ui_column.is-9-desktop.is-8-mobile.is-9-tablet.content-block-column > div.location-meta-block > div.result-title").get_attribute("onclick"))
        print("We have the restaurant's URL 🚀", i)

        urls = list(dic_url.values())
    except: 
        pass

for i in range(len(urls[0])):
    lista_mid_urls.append(urls[0][i].split(",")[3].replace("'", "").lstrip())

    # Paginas
#1  https://www.tripadvisor.es/Search?q=MADRID&searchSessionId=AAC12DFCE328D1F32E893F404A794CE71638809580308ssid&sid=9F59869EAAA642E8B588911214CFAC611638809599418&blockRedirect=true&ssrc=e&geo=187514&rf=3
#2  https://www.tripadvisor.es/Search?q=MADRID&searchSessionId=AAC12DFCE328D1F32E893F404A794CE71638809580308ssid&sid=9F59869EAAA642E8B588911214CFAC611638809599418&blockRedirect=true&ssrc=e&geo=187514&rf=4&o=30
#3  https://www.tripadvisor.es/Search?q=MADRID&searchSessionId=AAC12DFCE328D1F32E893F404A794CE71638809580308ssid&sid=9F59869EAAA642E8B588911214CFAC611638809599418&blockRedirect=true&ssrc=e&geo=187514&rf=5&o=60
#4  https://www.tripadvisor.es/Search?q=MADRID&searchSessionId=AAC12DFCE328D1F32E893F404A794CE71638809580308ssid&sid=9F59869EAAA642E8B588911214CFAC611638809599418&blockRedirect=true&ssrc=e&geo=187514&rf=6&o=90
#5  https://www.tripadvisor.es/Search?q=MADRID&searchSessionId=AAC12DFCE328D1F32E893F404A794CE71638809580308ssid&sid=9F59869EAAA642E8B588911214CFAC611638809599418&blockRedirect=true&ssrc=e&geo=187514&rf=7&o=120

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [/Users/awalsh/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache
<ipython-input-5-3552a38f82d2>:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install(), options = opciones)
<ipython-input-5-3552a38f82d2>:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_css_selector("#onetrust-accept-btn-handler").click()
<ipython-input-5-3552a38f82d2>:17: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  dic_url["URL"].append(driver.find_element_by_css_selector(f"#BODY_BLOCK_JQUERY_REFLOW > div.page > div > div.ui_container.main_wrap > div > div > div > div > div.content_column.ui_column.is-9-desktop.is-12-tablet.is-12-mobile > div > div.ui_columns.sections_wrapper > div > div.prw_rup.prw_search_search_results.ajax-content > div > div.main_content.ui_column.is-12 > div > div:nth-child(2) > div > div > div:nth-child({i}) > div > div > div > div.ui_column.is-9-desktop.is-8-mobile.is-9-tablet.content-block-column > div.location-meta-block > div.result-title").get_attribute("onclick"))

We have the restaurant's URL 🚀 1
We have the restaurant's URL 🚀 2
We have the restaurant's URL 🚀 3
We have the restaurant's URL 🚀 4
We have the restaurant's URL 🚀 5
We have the restaurant's URL 🚀 7
We have the restaurant's URL 🚀 8
We have the restaurant's URL 🚀 9
We have the restaurant's URL 🚀 10
We have the restaurant's URL 🚀 11
We have the restaurant's URL 🚀 13
We have the restaurant's URL 🚀 14
We have the restaurant's URL 🚀 15
We have the restaurant's URL 🚀 16
We have the restaurant's URL 🚀 17
We have the restaurant's URL 🚀 19
We have the restaurant's URL 🚀 20
We have the restaurant's URL 🚀 21
We have the restaurant's URL 🚀 22
We have the restaurant's URL 🚀 23
We have the restaurant's URL 🚀 25
We have the restaurant's URL 🚀 26
We have the restaurant's URL 🚀 27
We have the restaurant's URL 🚀 28
We have the restaurant's URL 🚀 29

In [6]:
lista_mid_urls

['/Restaurant_Review-g187514-d9879706-Reviews-La_Bistroteca-Madrid.html',
 '/Restaurant_Review-g187514-d2006562-Reviews-Los_Montes_de_Galicia-Madrid.html',
 '/Restaurant_Review-g187514-d6776681-Reviews-Platea_Madrid-Madrid.html',
 '/Restaurant_Review-g187514-d12431974-Reviews-Chow_Chow_Madrid-Madrid.html',
 '/Restaurant_Review-g187514-d8018926-Reviews-TATEL_Madrid-Madrid.html',
 '/Restaurant_Review-g187514-d1027419-Reviews-Chocolateria_San_Gines-Madrid.html',
 '/Restaurant_Review-g187514-d8860328-Reviews-Kuche_Madrid-Madrid.html',
 '/Restaurant_Review-g187514-d795430-Reviews-Rubaiyat_Madrid-Madrid.html',
 '/Restaurant_Review-g187514-d2001274-Reviews-Enigmatium_Madrid-Madrid.html',
 '/Restaurant_Review-g187514-d1810038-Reviews-Ramon_Freixa_Madrid-Madrid.html',
 '/Restaurant_Review-g187514-d12276388-Reviews-Maddock_Madrid-Madrid.html',
 '/Restaurant_Review-g187514-d988131-Reviews-Viejo_Madrid-Madrid.html',
 '/Restaurant_Review-g187514-d10159455-Reviews-Angelita_Madrid-Madrid.html',
 '/Restaurant_Review-g187514-d7953753-Reviews-El_Imparcial-Madrid.html',
 '/Restaurant_Review-g187514-d697479-Reviews-Casa_Lucio-Madrid.html',
 '/Restaurant_Review-g187514-d14117482-Reviews-Restaurante_DCorazon-Madrid.html',
 '/Restaurant_Review-g187514-d15124420-Reviews-Sakale-Madrid.html',
 '/Restaurant_Review-g187514-d7204621-Reviews-Rosi_La_Loca-Madrid.html',
 '/Restaurant_Review-g187514-d10382291-Reviews-Casa_Jaguar_Madrid-Madrid.html',
 '/Restaurant_Review-g187514-d4054722-Reviews-Cafe_del_rio_Madrid-Madrid.html',
 '/Restaurant_Review-g187514-d18719909-Reviews-Lobito_de_Mar_Madrid-Madrid.html',
 '/Restaurant_Review-g187514-d12216862-Reviews-Grama_Lounge-Madrid.html',
 '/Restaurant_Review-g187514-d11896546-Reviews-Astor-Madrid.html',
 '/Restaurant_Review-g187514-d8735932-Reviews-Oven_Mozzarella-Madrid.html',
 '/Restaurant_Review-g187514-d3604996-Reviews-Marisquerias_La_Chalana_Madrid_Plaza_Espana-Madrid.html']

In [7]:
#driver = webdriver.Chrome(ChromeDriverManager().install(), options = opciones)
final_list = []

for i in lista_mid_urls:
    final_list.append("https://www.tripadvisor.es" + i)

In [8]:
final_list

['https://www.tripadvisor.es/Restaurant_Review-g187514-d9879706-Reviews-La_Bistroteca-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d2006562-Reviews-Los_Montes_de_Galicia-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d6776681-Reviews-Platea_Madrid-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d12431974-Reviews-Chow_Chow_Madrid-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d8018926-Reviews-TATEL_Madrid-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d1027419-Reviews-Chocolateria_San_Gines-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d8860328-Reviews-Kuche_Madrid-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d795430-Reviews-Rubaiyat_Madrid-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d2001274-Reviews-Enigmatium_Madrid-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d1810038-Reviews-Ramon_Freixa_Madrid-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d12276388-Reviews-Maddock_Madrid-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d988131-Reviews-Viejo_Madrid-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d10159455-Reviews-Angelita_Madrid-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d7953753-Reviews-El_Imparcial-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d697479-Reviews-Casa_Lucio-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d14117482-Reviews-Restaurante_DCorazon-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d15124420-Reviews-Sakale-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d7204621-Reviews-Rosi_La_Loca-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d10382291-Reviews-Casa_Jaguar_Madrid-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d4054722-Reviews-Cafe_del_rio_Madrid-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d18719909-Reviews-Lobito_de_Mar_Madrid-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d12216862-Reviews-Grama_Lounge-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d11896546-Reviews-Astor-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d8735932-Reviews-Oven_Mozzarella-Madrid.html',
 'https://www.tripadvisor.es/Restaurant_Review-g187514-d3604996-Reviews-Marisquerias_La_Chalana_Madrid_Plaza_Espana-Madrid.html']

In [9]:
driver.quit()

In [10]:
dic = {"name":[], "address":[], "type":[],"ranking":[], "price":[]}
driver = webdriver.Chrome(ChromeDriverManager().install(), options = opciones)

for i in final_list:

    try:
        driver.get(i)
        time.sleep(5)
        driver.find_element_by_css_selector("#onetrust-accept-btn-handler").click()
        dic["name"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[1]/h1").text)
        print("We have the restaurant's name🍴")
        #aqui cojo el texto del nombre)
        dic["address"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[3]/span[1]/span/a").text)
        print("We know were it is 📍")
        #aqui cojo el texto de la dirección
        dic["type"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[2]/span[3]/a[2]").text)
        print("We know the type of food it can offer 🍕🍱🥘")
        #aqui cojo el texto de la dirección
        dic["ranking"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[2]/span[2]/a/span").text)
        print("We know how good it is 📈")
        #aqui cojo el texto de la dirección
        dic["price"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[2]/span[3]/a[1]").text)
        print("How pricy is it? 💸")
        
        
    except: 
        driver.get(i)
        time.sleep(5)
        dic["name"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[1]/h1").text)
        print("We have the restaurant's name🍴")
        #aqui cojo el texto del nombre)
        dic["address"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[3]/span[1]/span/a").text)
        print("We know were it is 📍")
        #aqui cojo el texto de la dirección
        dic["type"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[2]/span[3]/a[2]").text)
        print("We know the type of food it can offer 🍕🍱🥘")
        #aqui cojo el texto de la dirección
        dic["ranking"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[2]/span[2]/a/span").text)
        print("We know how good it is 📈")
        #aqui cojo el texto de la dirección
        dic["price"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[2]/span[3]/a[1]").text)
        print("How pricy is it? 💸")

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [/Users/awalsh/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache
<ipython-input-10-43fb21d0359a>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install(), options = opciones)
<ipython-input-10-43fb21d0359a>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_css_selector("#onetrust-accept-btn-handler").click()
<ipython-input-10-43fb21d0359a>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  dic["name"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[1]/h1").text)
<ipython-input-10-43fb21d0359a>:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  dic["address"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[3]/span[1]/span/a").text)
<ipython-input-10-43fb21d0359a>:15: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  dic["type"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[2]/span[3]/a[2]").text)
<ipython-input-10-43fb21d0359a>:18: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  dic["ranking"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[2]/span[2]/a/span").text)
<ipython-input-10-43fb21d0359a>:21: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  dic["price"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[2]/span[3]/a[1]").text)

We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸

<ipython-input-10-43fb21d0359a>:28: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  dic["name"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[1]/h1").text)
<ipython-input-10-43fb21d0359a>:31: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  dic["address"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[3]/span[1]/span/a").text)
<ipython-input-10-43fb21d0359a>:34: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  dic["type"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[2]/span[3]/a[2]").text)
<ipython-input-10-43fb21d0359a>:37: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  dic["ranking"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[2]/span[2]/a/span").text)
<ipython-input-10-43fb21d0359a>:40: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  dic["price"].append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/div[3]/div/div/div[2]/span[3]/a[1]").text)

We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸
We have the restaurant's name🍴
We know were it is 📍
We know the type of food it can offer 🍕🍱🥘
We know how good it is 📈
How pricy is it? 💸

In [11]:
print(dic)

{'name': ['La Bistroteca', 'Los Montes de Galicia', 'Platea Madrid', 'Chow Chow Madrid', 'TATEL Madrid', 'Chocolatería San Ginés', 'Kuche Madrid', 'Rubaiyat Madrid', 'Enigmatium Madrid', 'Ramon Freixa Madrid', 'Maddock Madrid', 'Restaurante El Viejo Madrid', 'Angelita Madrid', 'El Imparcial Madrid', 'Restaurante Casa Lucio', 'Restaurante DCorazon', 'Sakale', 'Rosi La Loca', 'Casa Jaguar Madrid', 'Cafe del rio Madrid', 'Lobito de Mar Madrid', 'Grama Lounge', 'Ástor', 'Oven Mozzarella Gran Vía 6', 'Marisquería La Chalana'], 'address': ['Calle Espartinas 7, local izquierda Barrio Salamanca, 28001 Madrid España', 'Calle Azcona 46, 28028 Madrid España', 'C/ Goya, 5-7 C/ Goya, 5-7, 28001 Madrid España', 'Avenida de Concha Espina 55, 28016 Madrid España', 'Paseo de la Castellana, 36, 28046 Madrid España', 'Pasadizo de San Ginés 5, 28013 Madrid España', 'Calle Princesa 18, 28015 Madrid España', 'Calle Juan Ramon Jimenez 37, 28036 Madrid España', 'Primer enigma a resolver Centro de Madrid, 28006 Madrid España', 'Calle Claudio Coello 67, 28001 Madrid España', 'Paseo General Martínez Campos, 26, 28010 Madrid España', 'Calle CAVA BAJA, 32 LOC, 28005 Madrid España', 'Calle Reina, 4, 28004 Madrid España', 'Calle Duque De Alba, 4, 28012 Madrid España', 'Calle Cava Baja, 35 BAJO, 28005 Madrid España', 'Plaza Mayor 30 Entrada al restaurante por Calle de la Sal 2, 28012 Madrid España', 'Calle del Molino de Viento 4, 28004 Madrid España', 'Calle Cádiz, 4, 28012 Madrid España', 'Calle Caños del Peral, 9, 28013 Madrid España', 'Avenida Portugal 1 Biss. Madrid Rio, 28011 Madrid España', 'Calle de Jorge Juan 10, 28001 Madrid España', 'Calle de la Cruz 19, 28012 Madrid España', 'Calle del Almendro 9, 28005 Madrid España', 'Calle Gran Via 6, 28013 Madrid España', 'Calle San Leonardo, 12 bajo, 28015 Madrid España'], 'type': ['Fusión', 'Internacional', 'Italiana', 'Japonesa', 'Internacional', 'Postres', 'Mediterránea', 'Restaurante de carne', 'Española', 'Mediterránea', 'Mediterránea', 'Mediterránea', 'Internacional', 'Mediterránea', 'Mediterránea', 'Internacional', 'Mexicana', 'Internacional', 'Mexicana', 'Mediterránea', 'Mediterránea', 'Latina', 'Internacional', 'Italiana', 'Marisco'], 'ranking': ['#15 de 10.424 restaurantes en Madrid', '#1 de 10.424 restaurantes en Madrid', '#653 de 10.424 restaurantes en Madrid', '#403 de 10.424 restaurantes en Madrid', '#1.266 de 10.424 restaurantes en Madrid', 'N.º 18 de 477 cafeterías y teterías en Madrid', '#1.600 de 10.424 restaurantes en Madrid', '#877 de 10.424 restaurantes en Madrid', '#1.112 de 10.424 restaurantes en Madrid', '#108 de 10.424 restaurantes en Madrid', '#2.241 de 10.424 restaurantes en Madrid', '#2.435 de 10.424 restaurantes en Madrid', '#157 de 10.424 restaurantes en Madrid', '#1.073 de 10.424 restaurantes en Madrid', '#1.039 de 10.424 restaurantes en Madrid', '#44 de 10.424 restaurantes en Madrid', '#41 de 10.424 restaurantes en Madrid', '#96 de 10.424 restaurantes en Madrid', '#191 de 10.424 restaurantes en Madrid', '#2.473 de 10.424 restaurantes en Madrid', '#2.459 de 10.424 restaurantes en Madrid', '#23 de 10.424 restaurantes en Madrid', '#4 de 10.424 restaurantes en Madrid', '#72 de 10.424 restaurantes en Madrid', '#1.647 de 10.424 restaurantes en Madrid'], 'price': ['€€ - €€€', '€€ - €€€', '€€ - €€€', '€€€€', '€€€€', '€', '€€ - €€€', '€€€€', '€€ - €€€', '€€€€', '€€ - €€€', '€€ - €€€', '€€ - €€€', '€€ - €€€', '€€ - €€€', '€€ - €€€', '€€ - €€€', '€€ - €€€', '€€ - €€€', '€€ - €€€', '€€€€', '€€ - €€€', '€€ - €€€', '€€ - €€€', '€€ - €€€']}

In [12]:
df = pd.DataFrame.from_dict(dic, orient='index')

In [13]:
df

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
name,La Bistroteca,Los Montes de Galicia,Platea Madrid,Chow Chow Madrid,TATEL Madrid,Chocolatería San Ginés,Kuche Madrid,Rubaiyat Madrid,Enigmatium Madrid,Ramon Freixa Madrid,...,Restaurante DCorazon,Sakale,Rosi La Loca,Casa Jaguar Madrid,Cafe del rio Madrid,Lobito de Mar Madrid,Grama Lounge,Ástor,Oven Mozzarella Gran Vía 6,Marisquería La Chalana
address,"Calle Espartinas 7, local izquierda Barrio Sal...","Calle Azcona 46, 28028 Madrid España","C/ Goya, 5-7 C/ Goya, 5-7, 28001 Madrid España","Avenida de Concha Espina 55, 28016 Madrid España","Paseo de la Castellana, 36, 28046 Madrid España","Pasadizo de San Ginés 5, 28013 Madrid España","Calle Princesa 18, 28015 Madrid España","Calle Juan Ramon Jimenez 37, 28036 Madrid España","Primer enigma a resolver Centro de Madrid, 280...","Calle Claudio Coello 67, 28001 Madrid España",...,Plaza Mayor 30 Entrada al restaurante por Call...,"Calle del Molino de Viento 4, 28004 Madrid España","Calle Cádiz, 4, 28012 Madrid España","Calle Caños del Peral, 9, 28013 Madrid España","Avenida Portugal 1 Biss. Madrid Rio, 28011 Mad...","Calle de Jorge Juan 10, 28001 Madrid España","Calle de la Cruz 19, 28012 Madrid España","Calle del Almendro 9, 28005 Madrid España","Calle Gran Via 6, 28013 Madrid España","Calle San Leonardo, 12 bajo, 28015 Madrid España"
type,Fusión,Internacional,Italiana,Japonesa,Internacional,Postres,Mediterránea,Restaurante de carne,Española,Mediterránea,...,Internacional,Mexicana,Internacional,Mexicana,Mediterránea,Mediterránea,Latina,Internacional,Italiana,Marisco
ranking,#15 de 10.424 restaurantes en Madrid,#1 de 10.424 restaurantes en Madrid,#653 de 10.424 restaurantes en Madrid,#403 de 10.424 restaurantes en Madrid,#1.266 de 10.424 restaurantes en Madrid,N.º 18 de 477 cafeterías y teterías en Madrid,#1.600 de 10.424 restaurantes en Madrid,#877 de 10.424 restaurantes en Madrid,#1.112 de 10.424 restaurantes en Madrid,#108 de 10.424 restaurantes en Madrid,...,#44 de 10.424 restaurantes en Madrid,#41 de 10.424 restaurantes en Madrid,#96 de 10.424 restaurantes en Madrid,#191 de 10.424 restaurantes en Madrid,#2.473 de 10.424 restaurantes en Madrid,#2.459 de 10.424 restaurantes en Madrid,#23 de 10.424 restaurantes en Madrid,#4 de 10.424 restaurantes en Madrid,#72 de 10.424 restaurantes en Madrid,#1.647 de 10.424 restaurantes en Madrid
price,€€ - €€€,€€ - €€€,€€ - €€€,€€€€,€€€€,€,€€ - €€€,€€€€,€€ - €€€,€€€€,...,€€ - €€€,€€ - €€€,€€ - €€€,€€ - €€€,€€ - €€€,€€€€,€€ - €€€,€€ - €€€,€€ - €€€,€€ - €€€

In [14]:
df = df.transpose()
df

,name,address,type,ranking,price
0,La Bistroteca,"Calle Espartinas 7, local izquierda Barrio Sal...",Fusión,#15 de 10.424 restaurantes en Madrid,€€ - €€€
1,Los Montes de Galicia,"Calle Azcona 46, 28028 Madrid España",Internacional,#1 de 10.424 restaurantes en Madrid,€€ - €€€
2,Platea Madrid,"C/ Goya, 5-7 C/ Goya, 5-7, 28001 Madrid España",Italiana,#653 de 10.424 restaurantes en Madrid,€€ - €€€
3,Chow Chow Madrid,"Avenida de Concha Espina 55, 28016 Madrid España",Japonesa,#403 de 10.424 restaurantes en Madrid,€€€€
4,TATEL Madrid,"Paseo de la Castellana, 36, 28046 Madrid España",Internacional,#1.266 de 10.424 restaurantes en Madrid,€€€€
5,Chocolatería San Ginés,"Pasadizo de San Ginés 5, 28013 Madrid España",Postres,N.º 18 de 477 cafeterías y teterías en Madrid,€
6,Kuche Madrid,"Calle Princesa 18, 28015 Madrid España",Mediterránea,#1.600 de 10.424 restaurantes en Madrid,€€ - €€€
7,Rubaiyat Madrid,"Calle Juan Ramon Jimenez 37, 28036 Madrid España",Restaurante de carne,#877 de 10.424 restaurantes en Madrid,€€€€
8,Enigmatium Madrid,"Primer enigma a resolver Centro de Madrid, 280...",Española,#1.112 de 10.424 restaurantes en Madrid,€€ - €€€
9,Ramon Freixa Madrid,"Calle Claudio Coello 67, 28001 Madrid España",Mediterránea,#108 de 10.424 restaurantes en Madrid,€€€€
10,Maddock Madrid,"Paseo General Martínez Campos, 26, 28010 Madri...",Mediterránea,#2.241 de 10.424 restaurantes en Madrid,€€ - €€€
11,Restaurante El Viejo Madrid,"Calle CAVA BAJA, 32 LOC, 28005 Madrid España",Mediterránea,#2.435 de 10.424 restaurantes en Madrid,€€ - €€€
12,Angelita Madrid,"Calle Reina, 4, 28004 Madrid España",Internacional,#157 de 10.424 restaurantes en Madrid,€€ - €€€
13,El Imparcial Madrid,"Calle Duque De Alba, 4, 28012 Madrid España",Mediterránea,#1.073 de 10.424 restaurantes en Madrid,€€ - €€€
14,Restaurante Casa Lucio,"Calle Cava Baja, 35 BAJO, 28005 Madrid España",Mediterránea,#1.039 de 10.424 restaurantes en Madrid,€€ - €€€
15,Restaurante DCorazon,Plaza Mayor 30 Entrada al restaurante por Call...,Internacional,#44 de 10.424 restaurantes en Madrid,€€ - €€€
16,Sakale,"Calle del Molino de Viento 4, 28004 Madrid España",Mexicana,#41 de 10.424 restaurantes en Madrid,€€ - €€€
17,Rosi La Loca,"Calle Cádiz, 4, 28012 Madrid España",Internacional,#96 de 10.424 restaurantes en Madrid,€€ - €€€
18,Casa Jaguar Madrid,"Calle Caños del Peral, 9, 28013 Madrid España",Mexicana,#191 de 10.424 restaurantes en Madrid,€€ - €€€
19,Cafe del rio Madrid,"Avenida Portugal 1 Biss. Madrid Rio, 28011 Mad...",Mediterránea,#2.473 de 10.424 restaurantes en Madrid,€€ - €€€
20,Lobito de Mar Madrid,"Calle de Jorge Juan 10, 28001 Madrid España",Mediterránea,#2.459 de 10.424 restaurantes en Madrid,€€€€
21,Grama Lounge,"Calle de la Cruz 19, 28012 Madrid España",Latina,#23 de 10.424 restaurantes en Madrid,€€ - €€€
22,Ástor,"Calle del Almendro 9, 28005 Madrid España",Internacional,#4 de 10.424 restaurantes en Madrid,€€ - €€€
23,Oven Mozzarella Gran Vía 6,"Calle Gran Via 6, 28013 Madrid España",Italiana,#72 de 10.424 restaurantes en Madrid,€€ - €€€
24,Marisquería La Chalana,"Calle San Leonardo, 12 bajo, 28015 Madrid España",Marisco,#1.647 de 10.424 restaurantes en Madrid,€€ - €€€

In [49]:
def sustituye(x):
    x = str(x).replace('C/', "Calle")
    return x

In [52]:
df["address"] = df.address.apply(sustituye)

In [ ]:
def delete_postalcode(x):
    return (re.split('\d+', s_nums))

In [55]:
def delete_hashtag(x):
    x = str(x).replace('#', "")
    return x

In [56]:
df["ranking"] = df.ranking.apply(delete_hashtag)

In [58]:
def delete_string(x):
    x = str(x).replace('restaurantes en Madrid', "")
    return x

In [59]:
df["ranking"] = df.ranking.apply(delete_string)

In [60]:
df

,name,address,type,ranking,price
0,La Bistroteca,"Calle Espartinas 7, local izquierda Barrio Sal...",Fusión,15 de 10.424,€€ - €€€
1,Los Montes de Galicia,"Calle Azcona 46, 28028 Madrid España",Internacional,1 de 10.424,€€ - €€€
2,Platea Madrid,"Calle Goya, 5-7 Calle Goya, 5-7, 28001 Madrid ...",Italiana,653 de 10.424,€€ - €€€
3,Chow Chow Madrid,"Avenida de Concha Espina 55, 28016 Madrid España",Japonesa,403 de 10.424,€€€€
4,TATEL Madrid,"Paseo de la Castellana, 36, 28046 Madrid España",Internacional,1.266 de 10.424,€€€€
5,Chocolatería San Ginés,"Pasadizo de San Ginés 5, 28013 Madrid España",Postres,N.º 18 de 477 cafeterías y teterías en Madrid,€
6,Kuche Madrid,"Calle Princesa 18, 28015 Madrid España",Mediterránea,1.600 de 10.424,€€ - €€€
7,Rubaiyat Madrid,"Calle Juan Ramon Jimenez 37, 28036 Madrid España",Restaurante de carne,877 de 10.424,€€€€
8,Enigmatium Madrid,"Primer enigma a resolver Centro de Madrid, 280...",Española,1.112 de 10.424,€€ - €€€
9,Ramon Freixa Madrid,"Calle Claudio Coello 67, 28001 Madrid España",Mediterránea,108 de 10.424,€€€€
10,Maddock Madrid,"Paseo General Martínez Campos, 26, 28010 Madri...",Mediterránea,2.241 de 10.424,€€ - €€€
11,Restaurante El Viejo Madrid,"Calle CAVA BAJA, 32 LOC, 28005 Madrid España",Mediterránea,2.435 de 10.424,€€ - €€€
12,Angelita Madrid,"Calle Reina, 4, 28004 Madrid España",Internacional,157 de 10.424,€€ - €€€
13,El Imparcial Madrid,"Calle Duque De Alba, 4, 28012 Madrid España",Mediterránea,1.073 de 10.424,€€ - €€€
14,Restaurante Casa Lucio,"Calle Cava Baja, 35 BAJO, 28005 Madrid España",Mediterránea,1.039 de 10.424,€€ - €€€
15,Restaurante DCorazon,Plaza Mayor 30 Entrada al restaurante por Call...,Internacional,44 de 10.424,€€ - €€€
16,Sakale,"Calle del Molino de Viento 4, 28004 Madrid España",Mexicana,41 de 10.424,€€ - €€€
17,Rosi La Loca,"Calle Cádiz, 4, 28012 Madrid España",Internacional,96 de 10.424,€€ - €€€
18,Casa Jaguar Madrid,"Calle Caños del Peral, 9, 28013 Madrid España",Mexicana,191 de 10.424,€€ - €€€
19,Cafe del rio Madrid,"Avenida Portugal 1 Biss. Madrid Rio, 28011 Mad...",Mediterránea,2.473 de 10.424,€€ - €€€
20,Lobito de Mar Madrid,"Calle de Jorge Juan 10, 28001 Madrid España",Mediterránea,2.459 de 10.424,€€€€
21,Grama Lounge,"Calle de la Cruz 19, 28012 Madrid España",Latina,23 de 10.424,€€ - €€€
22,Ástor,"Calle del Almendro 9, 28005 Madrid España",Internacional,4 de 10.424,€€ - €€€
23,Oven Mozzarella Gran Vía 6,"Calle Gran Via 6, 28013 Madrid España",Italiana,72 de 10.424,€€ - €€€
24,Marisquería La Chalana,"Calle San Leonardo, 12 bajo, 28015 Madrid España",Marisco,1.647 de 10.424,€€ - €€€

In [15]:
#df_1 = df.to_dict()

In [37]:
df.address[8]

'Primer enigma a resolver Centro de Madrid, 28006 Madrid España'

In [16]:
#df_1

In [ ]:
# regex magico: \d[28].*$    \d[28000-28999].*$

In [25]:
def get_coordenadas(city):
    """
    Esta función saca las coordenadas de la ciudad que le pases.
    Args: una ciudad (string).
    Return: Las coordeandas de la ciudad que le paso como argumento (latitud y longitud).
    """
    geolocator = Nominatim(user_agent="Ana")
    location = geolocator.geocode(query=city, exactly_one=True)
    return location[1]

In [64]:
def aplicarfuncion (df):
    try:
        df.apply(get_coordenadas)
        return 
    except:
        print("no hay dato")

In [ ]:
aplicarfuncion(df.address)

In [26]:
get_coordenadas("Calle Gran Via 6, Madrid")

(40.5432594, -3.3797719)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     25 non-null     object
 1   address  25 non-null     object
 2   type     25 non-null     object
 3   ranking  25 non-null     object
 4   price    25 non-null     object
dtypes: object(5)
memory usage: 1.1+ KB

In [28]:
df["coordinates"] = df["address"].apply(get_coordenadas)

TypeError: 'NoneType' object is not subscriptable

In [48]:
df["type_point"] = df["coordinates"].apply(type_point)

KeyError: 'coordinates'

In [30]:
get_coordenadas("Madrid")

(40.4167047, -3.7035825)

In [ ]:
def type_point(lista):
    """
    """
    return {"type":"Point", "coordinates": lista}

In [ ]:
# pasar df a json
# https://www.delftstack.com/es/howto/python-pandas/pandas-dataframe-to-json/
# cuidado con "orient"

dataframe.to_json(orient = 'index')

## Exportar a Mongo

In [32]:
client = MongoClient("localhost:27017")

In [33]:
db = client.get_database("PROJECT")
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'PROJECT')

In [ ]:
coleccion = db["RESTAURANTES_MADRID"]
coleccion.insert_many(lista_madrid)